{% extends 'base.html' %}

{% block title %}
Index_page
{% endblock title %}

{% block body %}
        <div class="container-fluid center">
        <form class="my-form" method="POST" action="">
            {% csrf_token %}

           <div class="form-group">
                <label for="name">Enter your Name:</label>
                <input type="text" placeholder="Name" class="form-control validate" id="name" name="name" required>
            </div><br>
            <div class="form-group">
                <label for="email">Enter your EmailAddress:</label>
                <input type="email" placeholder="Email" class="form-control validate" id="email" name="email" required><br>
            </div><br>
            <div class="form-group">
                <label for="phone">Enter your PhoneNumber:</label>
                <input type="number" placeholder="Phone Number" class="form-control validate" id="phone" name="phone" required><br>
            </div><br>
            <div class="form-group">
                <label for="desc">Desc:</label>
                <input type="desc" placeholder="Desc" class="form-control validate" id="desc" name="desc" required><br>
            </div><br>

            <!-- Add the rest of your form fields here -->
            <span>
            <div class="pb-3 text-center">
                <button type="submit" class="btn btn-red" value="Submit">Submit</button>
            </div>
                </span>
        </form>
</div>
{% endblock body %}